.inputOptions{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: grey;
    padding: 10px;
    cursor: pointer;

}
.inputOptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;

}
.inputOptions>h4{
    margin-left:5px ;
}
.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
}